body{
    background-color: rgba(7, 151, 170, 0.651);
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navega{
    background-color: black;
    color: white;
    padding: 20px;
}
nav{
    text-align: center;
}
.link-blocks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    margin: 10px;
    transition: 1s;
    display: inline;
    
}
#inicio{
    padding: 0px;
}
nav a:hover{
    font-size: 1.2rem;
    transition: 0.65s;
    text-decoration: underline;
}
#logo{
    top: 0px;
    border-radius: 360px;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
article{
    font-size: 1.1rem;
    margin: 15px;
    background-color: lightblue;
    border-radius: 20px;
    padding: 16px;
}
small{
    opacity: 65%;
    color: red;
    font-size: 0.98rem;
}
div{
    text-align: center;
}
div img{
    border-radius: 20px;
}
.imagemMeio{
    width: 95%;
    margin: 0 auto; 
    align-items: center;
    display: flex;
}
.imagemMeio img{
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
    float: left;
    top: 0;
}
.imagemMeio p{
    margin-right: 50px;
}
.mapa iframe{
    border-radius: 20px;
    float: left;
}
.mapa{
    width: 80%;
    margin: 0 auto; 
}
.mapa p, .mapa h1{
    margin-left: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.grid-item{
    background-color: white;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    
}
.grid-item small, a{
    bottom: 0px;
}
.grid-container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.grid-item2{
    background-color: white;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    
}
.grid-item2 small, a{
    bottom: 0px;
}
p, h1{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px;
    font-size: 3.2rem;
}
#contato{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
#ordenar, #ordenar2{
    border-radius: 10px;
    font-size: 1.5rem;
}
ol{
    background-color: white;
    border-radius: 10px;
}
ol
#cent{
    text-align: center;
}
#exp{
    color: blue;
}